:root {
    --card_width: 408px;
    --card_height: 334px;
}
.main {
    display: grid;
    grid-template-columns: var(--card_width) var(--card_width) var(--card_width);
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin: 24px;
    gap: 24px;
    place-items: center;
    place-content: center;
}

.card {
    width: var(--card_width);
    height: var(--card_height);
    /* border: 1px solid rgb(68, 68, 68); */
    display: grid;
    place-content: center;
    justify-items: center;
    text-align: center;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0.4px 0.6px 2.2px rgba(0, 0, 0, 0.014),
        1px 1.4px 5.3px rgba(0, 0, 0, 0.021),
        1.9px 2.6px 10px rgba(0, 0, 0, 0.026),
        3.4px 4.7px 17.9px rgba(0, 0, 0, 0.03),
        6.3px 8.8px 33.4px rgba(0, 0, 0, 0.036),
        15px 21px 80px rgba(0, 0, 0, 0.05);
}
.card:hover {
    text-decoration: none;
}
.card > :nth-child(1) {
    width: 180px;
    height: 128px;
}
.card > :nth-child(3) {
    color: red;
    display: flex;
    align-items: center;
    font-size: 8px;
    justify-content: center;
    gap: 4px;
}
.card > :nth-child(4) {
    color:rgb(37, 37, 37) ;
}
@media (max-width: 1200px) {
    .main {
        /* 平分屏幕 */

        grid-template-columns: var(--card_width) var(--card_width);
    }
}
@media (max-width: 600px) {
    .main {
        /* 平分屏幕 */

        grid-template-columns: var(--card_width);
    }
}
